C#/Day1/obj/Debug/net9.0/Day1.AssemblyInfo.cs
C#/Day1/obj/Debug/net9.0/Day1.AssemblyInfoInputs.cache
C#/Day1/obj/Debug/net9.0/Day1.assets.cache
C#/Day1/obj/Debug/net9.0/Day1.GeneratedMSBuildEditorConfig.editorconfig
C#/Day1/obj/